<html>

<head>

    <link href="/main.css" type="text/css" rel="stylesheet">

</head>

<body>
    <div id="navigationBar">
        <ul>
            <li><a href="/" style=" color: rgb(168, 16, 210); font-weight: bolder">FakeBank</a></li>
            <li><a href="/open_account">Open An Account</a></li>
            <li><a href="/">Learn</a></li>
            <li><a href="/">Investors</a></li>
            <li><a href="/">Open Source Banking</a></li>
            {{{accountLinks.accountLink}}}


        </ul>
    </div>
    <div style="height: 100px;"></div>
    </div>
    {{{body}}}
</body>


</html>