<div class="vertical-div">
    
    <div id="account-container">
        {{user.first}}, you made it to your account.<br><br>
        Your account number is: {{user.account}}<br>
        Your balance is: {{user.balance}}<br>
        Your address is: {{user.address}}<br>
        Your spleen is mushy.<br>
        Your dog pooped on my lawn.<br>
        Your drink is getting warm.<br>

    </div>

    <div>
        
    </div>
</div>