<div class="vertical-div">

    <div id="account-toolbar">
        <div class="toolbar-widget">
            <p id="account-welcome-p">Account settings</p>
            <ul>
                <li><a href="/account/changepass">Change Password</a></li>
                <li><a href="/account/contact">Contact and Billing</a></li>
                <li><a href="/account/helpnot">Help and Support</a></li>
                <li><a href="/account/complaint">File Complaint</a></li>
            </ul>
        </div>
        <div class="toolbar-widget">
            <p id="account-welcome-p">Financial settings</p>
            <ul>
                <li><a href="/account/home">Change Balance</a></li>
                <li><a href="/account/home">Send Funds</a></li>
                <li><a href="/account/home">Request Funds</a></li>
                <li><a href="/account/home">Break Economy</a></li>

            </ul>
        </div>
    </div>
    <div id="account-container">
        {{>sub_page}}
        </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script>


</script>