<div class="vertical-div">
    
    <div id="account-container">
        {{user.firstName}}, you made it to your account.<br><br>
        Your account number is: {{user.accountNumber}}<br>
        Your balance is: {{user.cash}}<br>
        Your address is: {{user.address}}<br>
        Your spleen is mushy.<br>
        Your dog pooped on my lawn.<br>
        Your drink is getting warm.<br>

    </div>
</div>