<div id="account-body-box">
    <div>
        <h3>
            We have no idea why people like FakeBank.
        </h3>
       
    </div>
    <div class="account-widget" id="change-balance-form-box">
        <form action="/changebal" method="POST">
            <input type="number" placeholder="Your New Balance" name="newBalance">
            <input type="submit" value="Submit">
        </form>
        {{#> popup}}{{/popup}}
    </div>
    <div class="account-widget" id="change-balance-balance">
        Your balance is: <h1>{{user.balance}}</h1><br>
    </div>
</div>