<h3> 
    At Fakebank changing your password is not only easy, its totally insecure.
</h3>

<form action="/changepass" method="POST">
    <input type="password" name="currentPass" maxlength="20" placeholder="Current Password" />
    <input type="password" name="newPass" maxlength="20" placeholder="New" />
    <input type="password" name="confirmNewPass" maxlength="20" placeholder="Confirm" />
    <input type="submit" value="Change" />
</form>