<div id="outputBox">
    Confirm new balance of ${{pendingBalance}}
    <form action="/changebal?confirm=y" method="POST">
        <input type="submit" value="Confirm"/>
        <input type="button" value="Cancel"/>

    </form>
</div>