* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    /* border: thin red solid; */
}


body {
    background-image: linear-gradient(rgb(238, 238, 238),rgb(234, 234, 234),rgb(146, 146, 146));
    margin: 0px;

}

h1 {
    color: rgb(168, 16, 210);
}

h2 {
    color: rgb(168, 168, 168);

}

h3 {
    display: block;
    color: rgb(122, 20, 114);
    margin-block-start: 0px;
    margin-block-end: 0px;
}



div {display: flex;}

form {
    display: flex;
    justify-content: center;
}

form input {
    background-color: rgb(184, 184, 184);
    border-radius: 0px;
    height: 30px;
    border: none;
    margin: 5px;
    color: white;
    font-weight: 600;
    font-size: small;
    text-align: left;
    padding-inline-start: 5px;
    
}

.horizontal-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vertical-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#navigationBar {
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(rgb(60,126,249), rgba(60, 126, 249, 90%));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#navigationBar ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    padding-inline-start: 0;
}

#navigationBar ul li a{
    color: white;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;

}

#navigationBar ul li a:hover{
    color: white;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    background-color: rgb(54, 54, 188);
    border-radius: 30px;
    transform: rotate(15deg);
    color: rgb(168, 16, 210);

}

#welcome-message {
    flex-direction: column;
    margin: 50px;
    padding: 50px 50px 50px 50px;
    background-color: rgb(255, 255, 255);
}


#account-container {
    flex-direction: column;
    width: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px 0px;
    padding: 40px;
    color: rgb(83, 83, 83);
    margin: 20px;
    
}

#account-body-box {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
}

#account-toolbar {
    flex-direction: column;
    position: fixed;
    top: 100px;
    left: 0px;
    width: 250px;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.toolbar-widget {
    flex-direction: column;
}
.toolbar-widget ul {
    list-style-type: none;
    color: rgb(83, 83, 83);
    padding: 0px;
}

.toolbar-widget ul li a {
    color: rgb(83, 83, 83);
    background-color: white;
    text-decoration: none;
    margin: 5px;
}

.toolbar-widget ul li a:hover {
    filter: invert(20%);
    border-radius: 5px;
}

.account-widget {
    width: 50%;
    min-height: 200px;
    padding: 5px;
    box-sizing: inherit;
    
}

.account-widget img {
    position: absolute;
    width: 300px;
    z-index: 1;
}

.account-widget h2 {
    z-index: 2;
}

.account-widget#cc {
    background-color: rgb(230, 230, 230);
}



#display-balance {
    flex-direction: column;
    align-items: center;
}


#account-welcome-p {
    color:rgb(175, 0, 175);
    font-weight:600;
    margin-block-start: 0px;
    margin-block-end: 0px;
}



#open-account-content {
    width: 600px;
    padding: 50px;
}